/* css personalizado */


/* body {
    padding-top: 70px;
} */

.linhaCinza {
    background: gray;
}

.linhaPersonalizada {
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*div {
    border: 1px solid black;
}*/

.bg-color-padding p {
    padding: 15px;
}